<p id="notice"><%= notice %></p>

<h2>Your Cart</h2>
<!--
<div class="row green lighten-4 ">
  <div class="col m6">Item</div>
  <div class="col m2">Quantity</div>
  <div class="col m2">Price</div>
  <div class="col m2">Total</div>
</div>
-->
 <%= render(cart.line_items) %>

  <div class="row">
    <div class="col m2 push-m8">
      Subtotal:
    </div>
    <div class="col m2 push-m8">
      <%= number_to_currency(cart.total_price) %>
    </div>
  </div>

<div class="center cart-button-wrapper">
<div>
<%= button_to 'Checkout', new_order_path, method: :get, class: 'cart-lower-button cart-button waves-effect waves-light btn green darken-4 center'%>
</div>
<div>
  <%= button_to 'Empty Cart', cart, method: :delete, class: 'cart-lower-button cart-button waves-effect waves-light btn green darken-4 center',data:{confirm: 'Are you sure?'} %>
</div>

</div>