<div class="row green-text">
  <div class="col s12 center">
 <%= button_to line_item, method: :delete, class: 'left btn-floating btn-large waves-effect waves-light red' do %>
  <i class="material-icons">delete</i>
 <% end %>
    <%= image_tag(line_item.product.image_url, class: 'responsive-img activator') %>
    
    <div class="center col s12"><%= line_item.product.title %>
    </div>
    
    </div>
  <div class="col s12 m6"><%= line_item.quantity %> </div>
  <div class="col s12 m6"><%= number_to_currency(line_item.price) %> </div>
  <div class="col s12 m12"><%= number_to_currency(line_item.total_price) %> </div>
</div>