<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<nav>
    <div class="nav-wrapper">
      <%= link_to(image_tag('logo.svg', alt: 'The Pragmatic Bookshelf', :class => 'brand-logo responsive-img'), store_index_url) %>
 
      <ul id="nav-desktop" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="http://www..../faq">Questions</a></li>
        <li><a href="http://www..../news">News</a></li>
        <li><a href="http://www..../contact">Contact</a></li>
      </ul>
      <ul id="slide-out" class="side-nav">
      <!--
        <li><div class="userView">
          <div class="background">
            <img src="images/office.jpg">
          </div>
          <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
          <a href="#!name"><span class="white-text name">John Doe</span></a>
          <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>-->
        <li><a href="/">Home</a></li>
        <li><a href="http://www..../faq">Questions</a></li>
        <li><a href="http://www..../news">News</a></li>
        <li><a href="http://www..../contact">Contact</a></li>
      </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    
    </div>
         
  </nav>

  <div class="container">
  <%= render(@cart) %>
      <%= yield %>
  </div>
</body>
</html>
